article.title
    background #fff url('../images/title.jpg') 50% 50% no-repeat
    background-size cover

article.domain
    background #fff url('../images/domain.jpg') 50% 50% no-repeat
    background-size cover
    h1
        height 300px
        width 300px
        line-height 300px
        font-size 64px
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
        &:after
            display none

article.tld
    display flex
    align-items stretch
    justify-content space-between
    .tlds
        background red
        flex-grow 1
        line-height 600px
        text-align center
        position relative
        text-transform uppercase
        &.tk
            background #fff url('../images/tk.jpg') 50% 50% no-repeat
            background-size cover
        &.ml
            background #fff url('../images/ml.jpg') 50% 50% no-repeat
            background-size cover
        &.ga
            background #fff url('../images/ga.jpg') 50% 50% no-repeat
            background-size cover
        &.cf
            background #fff url('../images/cf.jpg') 50% 50% no-repeat
            background-size cover
        &.gq
            background #fff url('../images/gq.jpg') 50% 50% no-repeat
            background-size cover
        span
            display inline-block
            border-radius 100%
            width 100px
            height 100px
            line-height 100px
            font-size 36px
            background-color #fff
            left 50%
            top 50%
            transform translateX(-50%) translateY(-50%)
            position absolute

article.freenom-0
    h1
        font-size 64px

article.freenom-1
    background #fff url('../images/freenom.png') 50% 50% no-repeat
    background-size contain

article.freenom-2
    background #fff url('../images/freenom-2.png') 50% 50% no-repeat
    background-size contain


article.covu
    background #fff url('../images/covu.jpg') 50% 50% no-repeat
    background-size cover
    h1
        text-transform uppercase
        height 300px
        width 300px
        line-height 300px
        font-size 64px
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
        &:after
            display none

article.covu-0
    background #fff url('../images/covu-0.png') 50% 50% no-repeat
    background-size contain

article.covu-1
    background #fff url('../images/covu-1.png') 50% 50% no-repeat
    background-size contain

article.covu-2
    background #fff url('../images/covu-2.png') 50% 50% no-repeat
    background-size contain

article.ppua
    background #fff url('../images/ppua.jpg') 50% 50% no-repeat
    background-size cover
    h1
        text-transform uppercase
        height 300px
        width 300px
        line-height 300px
        font-size 64px
        left 50%
        top 50%
        transform translateX(-50%) translateY(-50%)
        &:after
            display none

article.ppua-0
    background #fff url('../images/ppua-0.png') 50% 50% no-repeat
    background-size contain

article.ppua-1
    background #fff url('../images/ppua-1.png') 50% 50% no-repeat
    background-size contain

article.ppua-2
    background #fff url('../images/ppua-2.png') 50% 50% no-repeat
    background-size contain

article.ppua-3
    background #fff url('../images/ppua-3.png') 50% 50% no-repeat
    background-size contain

article.ppua-4
    background #fff url('../images/ppua-4.png') 50% 50% no-repeat
    background-size contain

article.ppua-5
    background #fff url('../images/ppua-5.png') 50% 50% no-repeat
    background-size contain

article.ppua-6
    background #fff url('../images/ppua-6.png') 50% 50% no-repeat
    background-size contain

article.ppua-7
    background #fff url('../images/ppua-7.png') 50% 50% no-repeat
    background-size contain

article.ppua-8
    background #fff url('../images/ppua-8.png') 50% 50% no-repeat
    background-size contain

article.ppua-9
    background #fff url('../images/ppua-9.png') 50% 50% no-repeat
    background-size contain

article.ppua-a
    background #fff url('../images/ppua-a.png') 50% 50% no-repeat
    background-size contain

article.ppua-b
    background #fff url('../images/ppua-b.png') 50% 50% no-repeat
    background-size contain

article.ppua-c
    background #fff url('../images/ppua-c.png') 50% 50% no-repeat
    background-size contain

article.ppua-d
    background #fff url('../images/ppua-d.png') 50% 50% no-repeat
    background-size contain

article.flags
    display flex
    align-items stretch
    justify-content space-between
    .flag
        background red
        flex-grow 1
        line-height 600px
        height 600px
        width 200px
        text-align center
        position relative
        text-transform uppercase
        &.ua
            background #fff url('../images/ua.jpg') 0 0 no-repeat
            background-size 800px 600px
        &.ru
            background #fff url('../images/ru.jpg') -200px 0 no-repeat
            background-size 800px 600px
        &.kz
            background #fff url('../images/kz.jpg') -400px 0 no-repeat
            background-size 800px 600px
        &.by
            background #fff url('../images/by.jpg') -600px 0 no-repeat
            background-size 800px 600px

article.dns-list li
    font-size 64px
    line-height 80px


// article.next.next.next
//   h1
//     position absolute
//     top 0
//     bottom 300px
//     overflow hidden
//     left 0
//     right 0
//     width 200px
//     height 200px
//     line-height 200px
//     border-radius 100%
//     margin auto
//     display block
//     background-color #fff
//     span
//       position absolute
//       top 0
//       bottom 0
//       right 0
//       width 100px
//       display block
//       color #fff
//       background-color #ec174f
//   .half
//     h2
//       font-size 36px
//     &:first-child
//       background-color #ec174f
//       color #fff
//
// article.process.process.process
//   .half
//     h2
//       font-size 20px
//       .sub-wrapper
//         display inline-block
//         vertical-align middle
//         line-height 1.2
//         text-align left
//     .wrapper-inner
//       display inline-block
//       vertical-align middle
//       height 400px
//       line-height 1
//       h1
//         font-size 30px
//         white-space nowrap
//       ul
//         font-size 20px
//         line-height 24px
//     &:last-child
//       background-color #ec174f
//       color #fff
//
// .half
//   h3
//     font-size 48px
//     line-height 56px
//     display block
//     text-align center
//     padding-left 40px
//     span
//       text-align left
//
// article.safe
//   background #fff url('../images/safe.png') 50% 50% no-repeat
//   background-size contain
//
// article.useless
//   background url('../images/useless.jpg') 50% 50% no-repeat
//   background-size cover
//
// article.rape
//   background url('../images/rape.png') 60% 50% no-repeat
//   background-size cover
//
// article.new3g
//   background url('../images/3g.jpg') 0 50% no-repeat
//   background-size cover
//
// article.idiots
//   background url('../images/idiots.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     font-size 32px
//   .sub-wrapper
//     display inline-block
//     vertical-align middle
//     line-height 20px
//   .half
//     &:first-child
//       background-color #ec174f
//       color #fff
//
// article.files.files.files
//   background url('../images/files.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     left 0
//     right 60px
//     bottom 100px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 300px
//     height 300px
//     line-height 220px
//     font-size 48px
//     white-space nowrap
//     &:after
//       visibility hidden
//       opacity 0
//       margin 0 0 0 -20px
//       transform-origin 20px -150px
//       transform rotate(-40deg)
//       top 295px
//       border-width: 60px 20px 0;
//
// article.bgg.bgg.bgg
//   background url('../images/bgg.jpg') 100% 100% no-repeat
//   background-size cover
//   h1
//     left 40px
//     top 60px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 400px
//     height 400px
//     line-height 260px
//     font-size 160px
//     white-space nowrap
//     background-color #ec174f
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       margin 0 0 0 -20px
//       transform-origin 20px -200px
//       transform rotate(-68deg)
//       top 395px
//       border-top-color #ec174f
//       border-width: 60px 20px 0;
//
// article.hmm.hmm.hmm
//   background url('../images/hmm.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     left 0
//     right:0
//     bottom: 40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 400px
//     height 400px
//     line-height 340px
//     font-size 28px
//     white-space nowrap
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// article.two-ways.two-ways.two-ways
//   background url('../images/fuck.jpg') 100% 100% no-repeat
//   background-size cover
//   h1
//     left 0
//     right:0
//     top 0
//     bottom: 0
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 300px
//     height 300px
//     line-height 240px
//     font-size 28px
//     white-space nowrap
//     background-color #ec174f
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// article.can
//     background #fff url('../images/caniuse.png') 50% 50% no-repeat
//     background-size contain
//
// article.log
//     background #fff url('../images/log.png') 50% 50% no-repeat
//     background-size contain
//
// article.inspect
//     background #fff url('../images/inspect.png') 50% 50% no-repeat
//     background-size contain
//
// article.conflict
//     background url('../images/conflict.jpg') 50% 50% no-repeat
//     background-size cover
//
// article.conflict2
//     background url('../images/conflict2.jpg') 50% 50% no-repeat
//     background-size cover
//
// article.expectations
//     background #fff url('../images/expectations.jpg') 50% 100% no-repeat
//     background-size contain
//
// article.reality
//     background #fff url('../images/reality.jpg') 50% 100% no-repeat
//     background-size contain
//
// article.refresh-pressed
//     background url('../images/button.gif') 50% 50% no-repeat
//     background-size cover
//
// article.wtf-1
//     background #fff url('../images/cite-1.png') 50% 50% no-repeat
//     background-size contain
//
// article.wtf-2
//     background #fff url('../images/cite-2.png') 50% 50% no-repeat
//     background-size contain
//
// article.prototypo
//     background #fff url('../images/PROTOTYPO.png') 50% 50% no-repeat
//     background-size contain
//
// article.minutes
//     background #fff url('../images/MINUTES-IO.png') 50% 50% no-repeat
//     background-size contain
//
// article.hoodie-install-screen
//     background #fff url('../images/hoodie-install.png') 50% 50% no-repeat
//     background-size contain
//
// article.offlinejs-screen
//     background #fff url('../images/offlinejs-screen.png') 50% 50% no-repeat
//     background-size contain
//
// article.gprs.gprs.gprs
//   background url('../images/gprs.jpg') 0 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top -40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 60px
//     white-space nowrap
//     background-color #ec174f
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       margin-top 0
//       transform-origin 10px -145px
//       transform rotate(0deg)
//       top 245px
//       border-top-color #ec174f
//
// article.service.service.service
//   background url('../images/service.jpg') 0 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top -40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 40px
//     white-space nowrap
//     background-color #ec174f
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       margin-top 0
//       transform-origin 10px -145px
//       transform rotate(0deg)
//       top 245px
//       border-top-color #ec174f
//
// article.offline-storage.offline-storage.offline-storage
//   background url('../images/offline_storage.svg') 50% 30% no-repeat,
//   rgba(0, 0, 0, .5), url('../images/wall.jpg') 50% 50% no-repeat
//   background-size 200px auto, cover, cover
//   h1
//     font-size 90px
//     line-height 1
//     margin 250px 0 0
//
// article.fetch.fetch.fetch
//   background  url('../images/fetch.jpg') 50% 50% no-repeat
//   background-size cover
//   .wrapper
//     box-shadow inset 0 0 0 1000px rgba(0, 0, 0, .4), 0 0 0 1000px rgba(0, 0, 0, .4)
//   h1
//     font-size 90px
//     line-height 1
//
// article.service-worker.service-worker.service-worker
//   background url('../images/offline_storage.svg') 50% 30% no-repeat,
//   rgba(0, 0, 0, .5), url('../images/bobot.jpg') 50% 50% no-repeat
//   background-size 200px auto, cover, cover
//   h1
//     font-size 90px
//     line-height 1
//     margin 250px 0 0
//
// article.swarm-title.swarm-title.swarm-title
//   background #fff url('../images/swarm-logotype.png') 50% 20% no-repeat
//   background-size 200px auto
//   h1
//     font-size 90px
//     line-height 1
//     margin 250px 0 0
//
// article.filename.filename.filename
//   h1
//     font-family monospace
//     font-size 90px
//     line-height 1
//
// article.offline-js.offline-js.offline-js
//   background #f66 url('../images/ethernet-cable.png') -3900px 60% no-repeat;
//   h1
//     font-size 90px
//     line-height 1
//     margin 0 0 250px
//
// article.hoodie-title.hoodie-title.hoodie-title
//   background #fff url('../images/hoodie_logo.svg') 50% 60% no-repeat;
//   background-size: 80% auto;
//   h1
//     font-size 90px
//     line-height 1
//     margin 0 0 250px
//
//
// article.cach.cach.cach
//   background #000 url('../images/cach.jpg') 50% 50% no-repeat;
//   background-size cover
//   h1
//     font-size 90px
//     line-height 1
//
// article.bugs.bugs.bugs
//   background #fff url('../images/bugs.jpg') 50% 0 no-repeat;
//   background-size 100% auto
//   .wrapper
//     box-shadow inset 0 0 0 1000px rgba(0, 0, 0, .4), 0 0 0 1000px rgba(0, 0, 0, .4)
//   h1
//     font-size 90px
//     line-height 1
//
// article.message.message.message
//   background #fff url('../images/post.jpg') 50% 50% no-repeat;
//   background-size contain
//   h1
//     font-size 90px
//     line-height 1
//
// article.img_loaded
//   background #fff url('../images/loaded.png') 50% 50% no-repeat
//   background-size contain
//
// article.img_cached
//   background #fff url('../images/cached.png') 50% 50% no-repeat
//   background-size contain
//
// article.title.title.title
//   background #ec174f url('../images/offline.svg') 50% 20% no-repeat
//   background-size 300px auto
//   h1
//     font-size 90px
//     line-height 1
//     margin 250px 0 0
//
//   h2
//     text-transform none
//     font-size 36px
//     line-height 40px
//
// .cake.cake.cake
//   background url('../images/cake.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     bottom 40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 24px
//     white-space nowrap
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// .no-internet.no-internet.no-internet
//   background url('../images/no-internet.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top -40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 24px
//     white-space nowrap
//     background-color #d61615
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       border-top-color #d61615
//       margin-top 0
//       transform-origin 10px -145px
//       transform rotate(0deg)
//       top 245px
//
// .can-post.can-post.can-post
//   background url('../images/canpost.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top -40px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 24px
//     white-space nowrap
//     background-color #d61615
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       margin-top 0
//       transform-origin 10px -145px
//       transform rotate(0deg)
//       top 245px
//       border-top-color #d61615
//
// .cherry.cherry.cherry
//   background url('../images/cherry.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 60px
//     top 60px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 250px
//     height 250px
//     line-height 180px
//     font-size 24px
//     white-space nowrap
//     background-color #d61615
//     color #fff
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// .many
//   background url('../images/cupcakes.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top 0
//     bottom 0
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 300px
//     height 300px
//     line-height 220px
//     font-size 24px
//     white-space nowrap
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// .meanie
//   background url('../images/unhappy.jpg') 50% 50% no-repeat
//   background-size cover
//   h1
//     right 0
//     left 0
//     top 150px
//     bottom 0
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 300px
//     height 300px
//     line-height 220px
//     font-size 24px
//     white-space nowrap
//     .wrapper
//       line-height 1.43
//     &:after
//       visibility hidden
//       opacity 0
//
// .pleasure.pleasure.pleasure
//   background url('../images/pleasure.jpg') 50% 48% no-repeat
//   background-size cover
//   h1
//     left 90px
//     top 100px
//     margin auto
//     position absolute
//     padding 40px 0
//     text-align center
//     box-sizing border-box
//     width 300px
//     height 300px
//     line-height 220px
//     font-size 24px
//     white-space nowrap
//     .wrapper
//       line-height 1.43
//     &:after
//       margin-top 0
//       transform-origin 10px -145px
//       transform rotate(236deg)
//       top 290px
